*

!.tmux/
!.tmux/**
!.tmux.conf
!i3/
!i3/**
!i3blocks/
!i3blocks/**
!kitty/
!kitty/**
kitty/*.bak
kitty/current-theme.conf
kitty/kitty/
!lazygit/
!lazygit/**
!nvim/
!nvim/**
!picom/
!picom/**
!rofi/
!rofi/**
!.zshrc
!.gitignore
